.bg-home {
    background-image: url('https://media.istockphoto.com/photos/lawyer-background-concept-picture-id1082853740?k=6&m=1082853740&s=170667a&w=0&h=E9-6rZV8kBIg1HlnUJkhPqyYOoreGRBw4wPX1y7L6Kc=');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;


}

